.favorites-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    padding-top: 80px;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;

}

.no-favorites-message {
    padding-top: 50px;
    height: 60vh;
    font-size: 1.6rem;
    color: #969AFF;
    text-align: center;
}